<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="/canvas-sdk/js/canvas-all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>
<div class="container">

    <div class="jumbotron">
        <h2>The File is uploaded successfully to the NodeJS server.</h2>

        <p class="hidden-xs">This is a canvas app. It looks like it belongs right in Salesforce, but it actually is served up by a Node.js
            server!</p>

    </div>
</div>


<span id="status" />
<img id="uploadedImage" />

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
